      /* PER AUDIOPLAYER */
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        opacity: 0;
      }
      #range-bar {
        -webkit-appearance: none;
        appearance: none;
        height: 4px;
        background: linear-gradient(to right, white 80%, #535353 10%);
        border-radius: 2px;
        min-width: 300px;
        width: 100%;
      }
      #volume-bar {
        -webkit-appearance: none;
        appearance: none;
        height: 4px;
        background: linear-gradient(to right, white 80%, #535353 10%);
        border-radius: 2px;
      }
      .clickable-btn:hover {
        color: green !important;
      }
      #audio-player {
        display: grid;
        grid-template-columns: 1fr;
        left: 0;
        right: 0;
      }
      .bg-gray {
        background-color: #222222;
      }
      @media screen and (min-width: 992px) {
        #audio-player {
          grid-template-columns: 1fr auto 1fr;
        }
      }
      /* PER AUDIOPLAYER */